<?php

// Configurações para acesso as pastas e url
const PUBLIC_PATH = '';
const URL_PUBLIC = '';
const SMTP_HOST = '';
const SMTP_USERNAME = '';
const SMTP_PASSWORD = '';
const REACT_URL = '';
const S3_KEY = '';
const S3_KEY_SECRET = '';
const S3_VERSION = '';
const S3_REGION = '';
