<?php

// Configurações do Banco de Dados
const DRIVER = 'mysql';
const HOST = '';
const DATA_BASE = '';
const USER_NAME = '';
const PASSWORD = '';
const CHARSET = 'utf8';
const COLLATION = 'utf8_general_ci';
